// Import Gotham Greek font
@font-face {
  font-family: "Gotham Greek";
  src: url(fonts/GothamGR.otf);
}

@font-face {
  font-family: "Gotham Greek";
  src: url(fonts/GothamGRBold.otf);
  font-weight: bold;
}

@font-face {
  font-family: "Gotham Greek";
  src: url(fonts/GothamGRLight.otf);
  font-weight: 300;
}

@font-face {
  font-family: "Gotham Greek";
  src: url(fonts/GothamGRMedium.otf);
  font-weight: 500;
}

// Configuration
@import "../node_modules/bootstrap/scss/functions";

// Typography
$font-family-sans-serif: "Gotham Greek", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/mixins";

// Navbar
$navbar-dark-color: $white;
$navbar-dark-active-color: rgba($white, 0.55);

// Typography
// Modify .fs-5 (https://getbootstrap.com/docs/5.0/utilities/api/#using-the-api)

$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "font-size"), "values"),
              (
                5: $font-size-base * 1.125,
              )
            ),
        )
      ),
  )
);

@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";

@import "../node_modules/bootstrap/scss/bootstrap-utilities.scss";

.fullwidth {
  background-image: linear-gradient(180deg, rgba(30, 51, 238, 0.6) 0%, rgba(34, 34, 34, 0.6) 100%),
    url("../images/fullwidth-mobile.png");
  background-blend-mode: multiply;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-newsletter {
  max-width: 57px;
}
